<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>787091725921-lh79gj9vc58mourq7fnunvj3hkvguf8n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.787091725921-lh79gj9vc58mourq7fnunvj3hkvguf8n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>787091725921-jh00he3gor3v4uqeb8tf3dnhh3tm971q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCbUUPdlS13eM6QQJBt1yfUIme47rl3Ask</string>
	<key>GCM_SENDER_ID</key>
	<string>787091725921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerce</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-flutter-fireba-f7e74</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-flutter-fireba-f7e74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787091725921:ios:d482c4087bd29ca5875420</string>
</dict>
</plist>